@{
  Layout = "_Layout";
}
@model Registrar.Models.Student

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.EnrollDate)
  @Html.TextBoxFor(model => model.EnrollDate, new { type="date" })

  <input type="submit" value="register this student"/>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>