@{
  Layout = "_Layout";
}
@model Registrar.Models.Student


<h3>Edit This Student: @Model.Name</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.EnrollDate)
  @Html.EditorFor(model => model.EnrollDate)
  <input type="submit" value="Save Student Changes"/>
}
<p>@Html.ActionLink("List of Students", "Index")</p>