@{
  Layout = "_Layout";
}
@model Registrar.Models.Course

<h3>Add a new course</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Number)
  @Html.TextBoxFor(model => model.Number)

  <input class="btn btn-type="submit" value="Add new Course">
}

<p>@Html.ActionLink("Show all courses", "Index")</p>