@{
  Layout = "_Layout";
}

@model Registrar.Models.Course;

<h2>Course Details</h2>

<h3>@Model.Name</h3>

<h3>@Model.Number</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This course has no students registered</p>
}
else
{
  <h3>The following students are registered</h3>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Student.Name</li>
    @using (Html.BeginForm("DeleteStudent", "Courses"))
    {
      @Html.Hidden("joinId", @join.CourseStudentId)
      <input type="submit" value="Drop Student from Course"/>
    }
  }
  </ul>
}

@if(ViewBag.NoStudents)
{
  <p>There are no students currently enrolled at this school...</p>
}
else
{
  @using (Html.BeginForm("AddStudent", "Courses"))
  {
    @Html.HiddenFor(model => model.CourseId)

    @Html.Label("Select Student")
    @Html.DropDownList("StudentId")

    <input type="submit" value="save"/>
  }
}

<p>@Html.ActionLink("See all Courses", "Index")</p>
<p>@Html.ActionLink("Edit this course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete this course", "Delete", new { id = Model.CourseId })</p>