@{
  Layout = "_Layout";
  int CompletionCount = 0;
  foreach(var join in Model.CourseJoinEntities)
  {
    foreach(var koin in ViewBag.CourseStudent)
    {
      if(koin.CourseId == join.CourseId)
      {
        if(koin.Completed)
        {
          CompletionCount++;
        }
      }
    }
  }
}

@model Registrar.Models.Department;

<h2>Department Details</h2>

<h3>@Model.Name</h3>


@if (CompletionCount == 0)
{
  <p>Warning: no students have completed courses in this department.</p>
}

@if (@Model.StudentJoinEntities.Count == 0)
{
  <p>there are no students currently in this department</p>
}
else
{
  <h3>This department has the following students enrolled:</h3>
  <ul>
    @foreach(var join in Model.StudentJoinEntities)
    {
      <li>@join.Student.Name
      <div class="form-div">
        @using (Html.BeginForm("DeleteStudent", "Departments"))
        {
        @Html.Hidden("joinId", @join.DepartmentStudentId)
        <input type="submit" value="Drop Student from Department"/>
        }
      </div>
      </li>
    }
  </ul>
}

  @if (ViewBag.NoStudents)
  {
    <p>No students have been created yet.</p>
  }
  else
  {
    @using (Html.BeginForm("AddStudent", "Departments"))
    {
      @Html.HiddenFor(model => model.DepartmentId)

      @Html.Label("Add Student")
      @Html.DropDownList("StudentId")

      <input type="submit" value="Add Student"/>
    }
  }

@if (@Model.CourseJoinEntities.Count == 0)
{
  <p>there are no courses currently in this department</p>
}
else
{
  <h3>this department has the following courses:</h3>
  <ul>
    @foreach(var join in Model.CourseJoinEntities)
    {
      <li>@join.Course.Name</li>
      @using (Html.BeginForm("DeleteCourse", "Departments"))
      {
      @Html.Hidden("joinId", @join.CourseDepartmentId)
      <input type="submit" value="Drop Course from Department"/>
      }
    }
  </ul>
}

@if (ViewBag.NoCourses)
{
  <p>No courses have been created yet.</p>
}
else
{
  @using (Html.BeginForm("AddCourse", "Departments"))
  {
    @Html.HiddenFor(model => model.DepartmentId)

    @Html.Label("Add Course")
    @Html.DropDownList("CourseId")

    <input type="submit" value="Add Course"/>
  }
}

<p>@Html.ActionLink("Edit this Department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete this Department", "Delete", new { id = Model.DepartmentId })</p>